# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true
[*.json]
indent_size = 4
# Unix-style newlines with a newline ending every file
[sh]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
# The following is not picked by shfmt hence they are commented out!
#
# shell_variant = bash      # like -ln=posix
# binary_next_line = true   # like -bn
# switch_case_indent = true # like -ci
# space_redirects = true    # like -sr
# keep_padding = true # like -kp
