[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tvim-markdown"]
	path = vim/bundle/tvim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "extras/fonts"]
	path = extras/fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bbye"]
	path = vim/bundle/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "zsh/bundle/k"]
	path = zsh/bundle/k
	url = https://github.com/supercrabtree/k.git
[submodule "zsh/bundle/lesaint-mvn"]
	path = zsh/bundle/lesaint-mvn
	url = https://github.com/lesaint/lesaint-mvn.git
[submodule "zsh/bundle/LS_COLORS"]
	path = zsh/bundle/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "zsh/bundle/opp.zsh"]
	path = zsh/bundle/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule "promptline.vim"]
	path = promptline.vim
	url = https://github.com/edkolev/promptline.vim
[submodule "vim/bundle/promptline"]
	path = vim/bundle/promptline
	url = https://github.com/existme/promptline.vim
