[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
	ignore = dirty
[submodule "extras/fonts"]
	path = extras/fonts
	url = https://github.com/powerline/fonts.git
	ignore = dirty
[submodule "zsh/bundle/lesaint-mvn"]
	path = zsh/bundle/lesaint-mvn
	url = https://github.com/lesaint/lesaint-mvn.git
	ignore = dirty
[submodule "zsh/bundle/LS_COLORS"]
	path = zsh/bundle/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
	ignore = dirty
[submodule "zsh/bundle/opp.zsh"]
	path = zsh/bundle/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
	ignore = dirty
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
	ignore = dirty
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	ignore = dirty
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	ignore = dirty
[submodule "bundle/z"]
	path = bundle/z
	url = https://github.com/rupa/z.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "zsh/bundle/zsh-syntax-highlighting"]
	path = zsh/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "bundle/zsh-256color"]
	path = bundle/zsh-256color
	url = https://github.com/chrissicool/zsh-256color.git
[submodule "zsh/bundle/powerline"]
	path = zsh/bundle/powerline
	url = https://github.com/banga/powerline-shell.git
[submodule "zsh/completion/plugins/zsh-autosuggestions"]
	path = zsh/completion/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/completion/plugins/fzf"]
	path = zsh/completion/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "extras/bin/git-scripts"]
	path = extras/bin/git-scripts
	url = https://github.com/jwiegley/git-scripts.git
[submodule "zsh/bundle/powerlevel9k"]
	path = zsh/bundle/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/addons/todo.actions.d/graph"]
	path = zsh/addons/todo.actions.d/graph
	url = https://github.com/timpulver/todo.txt-graph.git
