vim/backups/
.netrwhist
vim/.netrwhist
.idea
cow*
._.DS_Store
.DS_Store
.vifm/vifminfo
.vifm/Trash/
.netrc
/extras/bin/mount-pi
/extras/bin/mac/mwiki
/extras/bin/mac/remount-unil
/extras/bin/mac/remount-pi
/notes/private
/notes/todo
/extras/bin/private
/extras/bin/.vscode
note.md
configs/ranger/bookmarks
configs/ranger/history
/snippets
vim/.VimballRecord
vim/plugged/
extras/bin/idea
stale_outputs_checked
vim/autoload/plug.vim.old
*.pyc
venv/